html, body {
	margin:0;
	padding:0;
}

h1
{
	font-family: Helvetica;
	display:inline-block;
	color: white;
	font-size: 3.5em;
	text-transform: uppercase;
	border-bottom-width: 3px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border-color: #2D90A9;
	border-bottom-style: inset;
	margin-bottom: 0;
}

#summary
{
	font-family: Helvetica;
	font-weight: bold;
	color: silver;
}

#pfp{
	width: 15%;
	height: 15%;
	border-radius: 50%;
	display: block;
}

#pfp-summary{
	padding-top: 125px;
	padding-bottom: 25px;
}

#main-header{
	text-align: center;
	background-image: url(img/background.jpg);
	background-size: 100%;
}

h2
{
	text-transform: uppercase;
	display: inline-block;
	border-bottom-width: 3px;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border-color: #2D90A9;
	border-bottom-style: inset;
	margin-bottom: 3%;
}

p
{
	font:normal 1em/1.5 Helvetica;
}

#nav
{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	margin-top: -5px;
}

#nav a
{
	font-size: 1.2em;
	padding: 10px;
	display: inline-block;
	list-style-type: none;
	color: gray;
	text-decoration: none;
}

#nav a:hover
{
	color: #2D90A9;
}


#about-me
{
	padding-left: 20%;
	padding-right: 20%;
}

#about-me
{
	padding-bottom: 2%;
}

#education
{
	padding-left: 20%;
	padding-right: 20%;
}

.edu-section
{
	border-bottom-width: 1px;
	width: 100%;
	padding-bottom: 2%;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border-color: #2D90A9;
	border-bottom-style: solid;
}

.edu-fig
{
	display: inline-block;
}

.edu-fig img
{
	width: 40%;
}

.edu-fig figcaption
{
	width: 40%;
	text-align: center;	
}

#skills-fig-set
{
	display: inline-grid;
}

.skills-fig
{
	width: 100px;
	display: inline-grid;
}

.skills-fig img
{
	width: 100px;
	height: 100px;
	display: inline-block;
}

.skills-fig figcaption
{

}

.center-content
{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.projects-fig
{	display: inline-table;
	width: 350px;
}

.projects-img
{
	width: 250px;
	height: 250px;
}

.sm-img
{
	width: 35px;
	height: 35px;
}